<div style="display: flex; gap: 5rem; flex-wrap: wrap">
  <div class="input-container">
    <div style="display: flex; gap: 1rem">
      <label></label>
      <button (click)="set2024TaxPreset()">2024</button>
      <button (click)="set2025TaxPreset()">2025</button>
      <button (click)="set2026TaxPreset()">2026</button>
      <label for="use-max-pension">Kasuta max pensioni:</label>
      <input id="use-max-pension" type="checkbox" [(ngModel)]="useMaxPension">
    </div>

    <h3>Palk</h3>
    <div class="text-input">
      <label for="gross-pay">Bruto palk: &nbsp;</label>
      <input [formControl]="wageForm.controls.grossPay" id="gross-pay" type="number">
    </div>

    <section class="input-section">
      <h3>Pension</h3>
      <div class="text-input">
        <label for="third-pillar-amount">III samba makse otse palgast: &nbsp;</label>
        <input [formControl]="wageForm.controls.thirdPillarAmount" id="third-pillar-amount" type="number">
        @if (wageResult(); as result){
          <p *ngIf="result.type == 'success' && result.thirdPillarTaxFreeAmount < (wageFormValue()?.thirdPillarAmount ?? 0)">
            Info: III samba soovitud makse on suurem kui maksimaalne maksuvaba summa. Raamatupidamine kannab pensionifondi ainult maksuvaba summa.
          </p>
        }
      </div>

      <div class="select-input">
        <label for="retirementFee">II samba sissemakse protsent: &nbsp;</label>
        <select id="retirementFee" [formControl]="wageForm.controls.secondPillarPercentage">
          <option value="0">0%</option>
          <option value="2">2%</option>
          <option value="4">4%</option>
          <option value="6">6%</option>
        </select>
      </div>
    </section>

    <h3>Maksud</h3>
    <div>
      <label for="income-tax">Tulumaksu protsent (Mille hulgas EI ole riigikaitsemaks): &nbsp;</label>
      <select id="income-tax" [formControl]="wageForm.controls.incomeTaxPercentage">
        <option value="20">20%</option>
        <option value="22">22%</option>
      </select>
    </div>

    <div>
      <label for="defence-tax">Riigikaitsemaks: &nbsp;</label>
      <select id="defence-tax" [formControl]="wageForm.controls.defenceTaxPercentage">
        <option value="0">0%</option>
        <option value="2">2%</option>
      </select>
    </div>
    <div>
      <label for="use-income-tax-free-minimum">Kasuta tulumaksuvaba miinimumi:</label>
      <input [formControl]="wageForm.controls.useIncomeTaxFreeMinimum" id="use-income-tax-free-minimum" type="checkbox">
    </div>
    <div>
      <label for="use-income-tax-curve">Kasuta tulumaksu "maksuküüru":</label>
      <input [formControl]="wageForm.controls.useIncomeTaxCurve" id="use-income-tax-curve" type="checkbox">
    </div>
    <div>
      <label for="income-tax-free-minimum">Tulumaksuvaba miinimum:</label>
      <input [formControl]="wageForm.controls.incomeTaxFreeMinimum" id="income-tax-free-minimum" type="number">
    </div>
    @if (wageResult(); as result){
      <div *ngIf="result.type === 'error'">Viga: {{result.errorReason}}</div>
    }
  </div>

  <div class="result-table-container" *ngIf="wageResult() as wageResult">
    <table class="result-table" style="white-space: nowrap">
      <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Percentage</th>
      </tr>
      <tr>
        <td><strong>Neto palk:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.netPay | number : "1.2-2"}}</td>
          <td>{{wageResult.netPayPercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>II samba kogumispension (töötaja panus):</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.secondPillarEmployeeAmount | number : "1.2-2"}}</td>
          <td>{{wageResult.secondPillarEmployeePercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>II samba kogumispension (riigi panus):</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.secondPillarNationalAmount | number : "1.2-2"}}</td>
          <td>{{wageResult.secondPillarNationalPercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>III samba kogumispension:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.thirdPillarAmount | number : "1.2-2"}}</td>
          <td>{{wageResult.thirdPillarPercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>Kogu panus pensionisse:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.totalPensionContributionAmount | number : "1.2-2"}}</td>
          <td>{{wageResult.totalPensionContributionPercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>Tulumaks:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.incomeTax | number : "1.2-2"}}</td>
          <td>{{wageResult.incomeTaxPercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>Riigikaitsemaks:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.defenceTax | number : "1.2-2"}}</td>
          <td>{{wageResult.defenceTaxPercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>Töötuskindlustusmakse:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.unemploymentFee | number : "1.2-2"}}</td>
          <td>{{wageResult.unemploymentFeePercentage | number : "1.2-2"}}%</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
          <td>{{0 | number : "1.2-2"}}%</td>
        }
      </tr>
      <tr>
        <td><strong>III samba tulumaksuvabastus:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.thirdPillarTaxFreeAmount | number : "1.2-2"}}</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
        }
        <td></td>
      </tr>
      <tr>
        <td><strong>Tulumaksuvaba miinimum:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.incomeTaxFreeAmount | number : "1.2-2"}}</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
        }
        <td></td>
      </tr>
      <tr>
        <td><strong>Checksum:</strong></td>
        @if (wageResult.type == 'success'){
          <td>{{wageResult.checkSum | number : "1.2-2"}}</td>
        } @else {
          <td>{{0 | number : "1.2-2"}}</td>
        }
        <td></td>
      </tr>
    </table>
  </div>
</div>

