* {
  font-family: "Roboto", sans-serif;
}
.input-container {
  display: flex;
  flex-direction: column;
  background-color: #90eacb;
  padding: 1rem;
  height: fit-content;
  max-width: 30rem;
}

.result-table-container {
  background-color: #7575e6;
  padding: 1rem;
  height: fit-content;
  width: max-content;
}

.result-table {
  border-spacing: 0;

  td, th {
    padding: 0.5rem;
  }

  th {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #bebee3;
  }

  tr:nth-child(odd) {
    background-color: #9090ea;
  }
}

// Make sure currently selected input is highlighted
// Error outline with red + error msg at bottom
// Tooltip at top right for long info clarifications
// Padding around input text! Gap between label and text
// Show errors on dirty not touched
.text-input {
  label{
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
  }
  input {
    border-radius: 0.5rem;
    padding: 0.5rem;
  }
}

.select-input {
  label {
    font-weight: 500;
    display: block;
    padding-bottom: 0.5rem;
  }
  select {
    min-width: 11rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    option {
      padding: 0.5rem;
    }
  }
}

.input-section {
  h3 {
    margin-bottom: 0;
  }
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
