# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: read
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: 20.14.0
        #cache: 'npm'
    - name: "Install node_modules"
      working-directory: ./WageCalculator
      run: npm ci
    - name: "Build frontend"
      working-directory: ./WageCalculator
      run: npm run build
    - name: "Setup pages"
      uses: actions/configure-pages@v5
    - name: "Upload artifact"
      uses: actions/upload-pages-artifact@v3
      with:
        path: "./WageCalculator/dist/wage-calculator/browser/"
    - name: "Deploy pages"
      uses: actions/deploy-pages@v4
    #- run: npm test
