.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #90eacb;
  padding: 1rem;
  height: fit-content;
  max-width: 30rem;
}

.result-table-container {
  background-color: #7575e6;
  padding: 1rem;
  height: fit-content;
  width: max-content;
}

.result-table {
  border-spacing: 0;

  td, th {
    padding: 0.5rem;
  }

  th {
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #bebee3;
  }

  tr:nth-child(odd) {
    background-color: #9090ea;
  }
}
